{# src/Mcms/PatientBundle/Resources/views/Employee/list.html.twig #}
{% extends '::employeeDashboard.html.twig' %}

{% block content %}
    {% for patient in patients %}
        <p>{{ patient }}</p>
    {% endfor %}
{% endblock %}