{# src/Mcsm/DashboardBundle/Resources/views/patientIndex.html.twig #}
{% extends '::patientDashboard.html.twig' %}

{% block title %}Patient Dashboard{% endblock %}

{% block content %}
    <div id="timetable">
        {% include "McmsTimetableBundle::showMonth.html.twig" with { entries: null } %}
    </div>
    <button id="load">laduj</button>
{% endblock %}

{% block javascripts_body %}
    {{ parent() }}
    <script type="text/javascript">
        $("#load").click(function() {
            $.ajax({
                url: "patient/timetable/2012/06"
            }).done(function( html ) {
                $("#timetable").html(html);
            });
        });
    </script>
{% endblock %}