{# src/Mcsm/DashboardBundle/Resources/views/patientIndex.html.twig #}
{% extends '::dashboard.html.twig' %}

{% block title %}Patient Dashboard{% endblock %}

{% block content %}
    <div>
        <h1 class="pageTitle">Terminarz</h1>
        {% render "McmsTimetableBundle:Timetable:list" with { 'patient': app.user.patient, 'employee' : null} %}
    </div>
{% endblock %}