{# src/Mcms/MedicalHistoryBundle/Resources/views/Employee/new.html.twig #}
{% extends '::employeeDashboard.html.twig' %}

{% block title %} Karta pacjenta - dodawanie wpisu {% endblock %}

{% block content %}
    <h1 class="pageTitle">Dodawanie wpisu w karcie pacjenta</h1>
	<div class="window1">
        <form class="form_default" action="{{ path('employee.medicalHistoryCreate',{ patientId: patient.Id }) }}" method="post" {{ form_enctype(form) }}>
	<div class="tableOpt" style="border-bottom: 1px solid #bbb"><h4>Szczegóły nowego wpisu<button class="button button_blue" style="float: right;" type="submit">Utwórz</button></h4></div>
		<div class="inside">
  		<div>
        	{{ form_widget(form.content) }}
            {{ form_rest(form) }}
    </form>
    	</div>
		</div>
	</div>	
{% endblock %}