{# src/Mcms/UserBundle/Resources/views/sidebar.html.twig #}
{% import '::helpers.html.twig' as helpers %}

<h3 class="open">Użytkownicy</h3>
<div>
    <ul>
        {{ helpers.menu('users_list', 'Lista użytkowników') }}
    </ul>
</div>