@import url('tables.css');
@import url('calendar.css');
/*
 reset
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

body { line-height: 1; color: black; background: white; }
ol, ul { list-style: none; }
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

/***STYLE***/

/***GENERAL***/
body { background: #eee url("../images/leftbg.png") repeat-y top left; line-height: 21px; font-family: Arial; font-size: 12px; }
input, select, textarea, button { border: 1px solid #ccc; padding: 5px; outline: none; font-family: Arial; font-size: 12px; }
input#payment_products_2_count{ font-size: 12px; padding: 8px 5px; border: 1px solid #ccc; background: #fcfcfc; outline: none; }
input#payment_products_2_count{ -moz-box-shadow: inset 1px 1px 3px #ccc; -webkit-box-shadow: inset 1px 1px 3px #ccc; box-shadow: inset 1px 1px 3px #ccc; }
input#payment_products_2_count{ -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; margin-right: 10px; }
input#payment_products_2_count{ width: 20%; height: 12px; margin:0 0 20px 0; }

input[type=text] { font-size: 12px; padding: 8px 80px 8px 5px; border: 1px solid #ccc; background: #fcfcfc; outline: none; }
input[type=text] { -moz-box-shadow: inset 1px 1px 3px #ccc; -webkit-box-shadow: inset 1px 1px 3px #ccc; box-shadow: inset 1px 1px 3px #ccc; }
input[type=text] { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; margin:5px 10px 5px 0; }
input[type=text]:focus, textarea:focus { background: #fff; }

label { width: 150px; float: left; text-align: right; padding-top: 5px; margin:5px 10px; }
a { text-decoration: none; outline: none; color: #069; }
a:hover { text-decoration: none; }
button { margin: 0; outline: 0; }
small { font-size: 11px; line-height: 12px; }

/***HEADER***/
div#header { width: 100%; background: #333; padding: 20px 10px 11px 10px; height: 78px; border-top: 1px solid #444; }
div#header { min-width: 980px; background: #333; padding: 20px 10px 11px 10px; height: 78px; border-top: 1px solid #444; }
div#header div#account { position: absolute; right: 20px; top: 16px; background: url("../images/blacktrans.png"); padding: 10px 89px 10px 20px; overflow: hidden; line-height: 15px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
div#header div#account h3 { font-size: 12px; color: #fff; font-weight: normal; }
div#header div#account small { font-size: 11px; color: #999; }
div#header div#account p { margin-top: 5px; }
div#header div#account p a { font-size: 11px; color: #ccc; display: inline-block; color: #bbd0e8; }
div#header div#account p a:hover { text-decoration: underline; }
div#header div#account p a:first-child { margin-right: 5px; border-right: 1px solid #666; padding-right: 7px; }

/***TAB MENU***/
div#header div#tabmenu { line-height: 21px; position: absolute; top: 71px; left: 220px; }
div#header div#tabmenu ul { list-style: none; }
div#header div#tabmenu ul li { display: inline-block; float: left; position: relative; background: #4b6592 url("../images/tabmenubg.png") repeat-x top left; }
div#header div#tabmenu ul li:first-child { -moz-border-radius: 3px 0 0 0; -webkit-border-radius: 3px 0 0 0; border-radius: 3px 0 0 0; }
div#header div#tabmenu ul li:hover { background: #37507f url("../images/tabmenubg.png") repeat-x 0 -68px; }
div#header div#tabmenu ul li:last-child { -moz-border-radius: 0 3px 0 0; -webkit-border-radius: 0 3px 0 0; border-radius: 0 3px 0 0; }
div#header div#tabmenu ul li:last-child a { background: none; }
div#header div#tabmenu ul li a { display: inline-block; color: #fff; background: url("../images/separator.png") no-repeat right center; }
div#header div#tabmenu ul li a:hover { text-decoration: none; }
div#header div#tabmenu ul li a span { display: block; padding: 9px 15px 9px 40px; text-transform: uppercase; font-size: 12px; text-shadow: 1px 1px #224e82; }
div#header div#tabmenu ul li.current { background: #eee; text-shadow: 1px 1px #fff; }
div#header div#tabmenu ul li.current a { color: #333; background: none; }
div#header div#tabmenu ul li a.home span { background: url(../images/icons/home.png) no-repeat 6px -29px; }
div#header div#tabmenu ul li a.home span:hover { background: url(../images/icons/home.png) no-repeat 6px 9px; }
div#header div#tabmenu ul li.current a.home span { background: url(../images/icons/home.png) no-repeat 6px 9px;}
div#header div#tabmenu ul li a.users span { background: url(../images/icons/user_list_1.png) no-repeat 6px -26px;}
div#header div#tabmenu ul li a.users span:hover { background: url(../images/icons/user_list_1.png) no-repeat 6px 10px;}
div#header div#tabmenu ul li.current a.users span { background: url(../images/icons/user_list_1.png) no-repeat 6px 10px;}
div#header div#tabmenu ul li a.products span { background: url(../images/icons/product.png) no-repeat 6px -25px;}
div#header div#tabmenu ul li a.products span:hover { background: url(../images/icons/product.png) no-repeat 6px 9px;}
div#header div#tabmenu ul li.current a.products span { background: url(../images/icons/product.png) no-repeat 6px 9px; }
div#header div#tabmenu ul li a.calendar span { background: url(../images/icons/calendar_1.png) no-repeat 6px -22px;}
div#header div#tabmenu ul li a.calendar span:hover { background: url(../images/icons/calendar_1.png) no-repeat 6px 9px;}
div#header div#tabmenu ul li.current a.calendar span { background: url(../images/icons/calendar_1.png) no-repeat 6px 9px; }

div#header div#tabmenu ul li.current a span { text-shadow: 1px 1px #fcfcfc; }

.tabmenu ul li a.dashboard span { background: url(../images/icons/dashboard.png) no-repeat 15px 12px; }
.tabmenu ul li.current a.dashboard span { background: url(../images/icons/dashboard.png) no-repeat 15px -57px; }

/***SIDEBAR***/
div#sidebar { padding: 20px 0 20px 0; width: 220px; display: block; float: left; }
div#sidebar h3 { background: url("../images/arrow.png") no-repeat 10px 6px; padding-left: 30px; font-size: 12px; color: #333; text-transform: uppercase; }
div#sidebar h3.open { background: url("../images/arrow.png") no-repeat 10px -37px; }
div#sidebar>.subside ul{}
div#sidebar>.subside li{ display: block;  width:220px;}
div#sidebar>.subside li a { font-size: 12px; display: block; padding: 5px 0 5px 70px; color: #37507F;}
div#sidebar>.subside li a:hover {background-color: #eee; border-right: 0;padding: 5px 0 5px 70px; color: #333; }
div#sidebar>.subside li.current a { background-color: #eee; border-right: 0; color: #333; border-top: 1px solid #a6c0de; border-bottom: 1px solid #a6c0de; }
div#sidebar>.subside li.current a:hover { text-decoration: none; }

div#sidebar>.subside li.user_add a{background-image: url(../images/icons/user_add.png); background-repeat: no-repeat; background-position: 30px center; background-size:20px 15px;   }
div#sidebar>.subside li.user_add .current a {background-image: url(../images/icons/user_add.png); background-repeat: no-repeat; background-position: 30px center; background-size:20px 15px;   background-color: #eee; border-right: 0; color: #333; border-top: 1px solid #a6c0de; border-bottom: 1px solid #a6c0de; }
div#sidebar>.subside li.user_list a{background-image: url(../images/icons/user_list.png); background-repeat: no-repeat; background-position: 30px center; background-size:20px 15px;  }
div#sidebar>.subside li.user_list .current a {background-image: url(../images/icons/user_add.png); background-repeat: no-repeat; background-position: 30px center; background-size:20px 15px;   background-color: #eee; border-right: 0; color: #333; border-top: 1px solid #a6c0de; border-bottom: 1px solid #a6c0de; }
div#sidebar>.subside li.new_product a{ background-image: url(../images/icons/product_add.png); background-repeat: no-repeat; background-position: 30px center; background-size:20px 15px; }
div#sidebar>.subside li.new_product .current a {background-image: url(../images/icons/user_add.png); background-repeat: no-repeat; background-position: 30px center; background-size:20px 15px;   background-color: #eee; border-right: 0; color: #333; border-top: 1px solid #a6c0de; border-bottom: 1px solid #a6c0de; }
div#sidebar>.subside li.product_list a{ background-image: url(../images/icons/product_list.png); background-repeat: no-repeat; background-position: 30px center; background-size:20px 15px; }
div#sidebar>.subside li.prodyct_list .current a {background-image: url(../images/icons/user_add.png); background-repeat: no-repeat; background-position: 30px center; background-size:20px 15px;   background-color: #eee; border-right: 0; color: #333; border-top: 1px solid #a6c0de; border-bottom: 1px solid #a6c0de; }
div#sidebar>.subside li.calendar a{ background-image: url(../images/icons/calendar.png); background-repeat: no-repeat; background-position: 30px center; background-size:20px 15px; }
div#sidebar>.subside li.calendar .current a {background-image: url(../images/icons/user_add.png); background-repeat: no-repeat; background-position: 30px center; background-size:20px 15px;   background-color: #eee; border-right: 0; color: #333; border-top: 1px solid #a6c0de; border-bottom: 1px solid #a6c0de; }

/***MESSAGES / ALERTS***/
.message { padding: 10px 10px 10px 45px; margin: 0 0 20px 0; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; position: relative; }
.message .close { position: absolute; right: 5px; top: 5px; display: inline-block; width: 8px; height: 8px; cursor: pointer; }
.message .close { background: url(../images/icons/close.png) no-repeat 0 0; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
.messageError { border: 1px solid #ff0000; background: #FFECEC; color: #ff0000; font-size: 11px; }
.message ul,li{list-style-type:none;}

.msgalert { border: 1px solid #eac572; background: #ffe9ad url(../images/icons/warning.png) no-repeat 10px center; }
.msginfo { border: 1px solid #99c4ea; background: #d1e4f3 url(../images/icons/info.png) no-repeat 10px center; }
.msgsuccess { border: 1px solid #c1d779; background: #effeb9 url(../images/icons/success.png) no-repeat 10px center; }
.msgerror { border: 1px solid #e18b7c; background: #fad5cf url(../images/icons/error.png) no-repeat 10px center; }

/***MAIN CONTENT***/
div#content { margin-left: 220px; min-width: 1028px; position: relative; color: #333; padding: 20px; }
div#content h1 { margin: 20px 0px; }
div#content .left { padding: 20px 15px; overflow: hidden; }
div#content .right { padding: 20px 0; padding-right: 15px; overflow: hidden; }
div#content .right .widgetbox:last-child { margin-bottom: 0; border-bottom: 0; }

.dashboard { list-style: none; }
.dashboard li { display: inline-block; float: left; width: 130px; margin: 0 10px 10px 0; }
.dashboard li a { display: block; padding: 15px; border: 1px solid #ccc; color: #333; text-align: center; background: #f7f7f7; }
.dashboard li a { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; -moz-box-shadow: 1px 1px 0 #fff; color: #069; }
.dashboard li a>img{height:65px; width:65px;}
.dashboard li a span { font-size: 12px; display: block; margin-top: 10px; }
.dashboard li a:hover { -moz-box-shadow: 0 0 4px #ddd; background: #fcfcfc; text-decoration: none; }


/***MAIN CONTENT: WINDOWS***/
.window1 { margin-bottom: 20px; -moz-box-shadow: 1px 1px 2px #ddd; -webkit-box-shadow: 1px 1px 2px #ddd; box-shadow: 1px 1px 2px #ddd; }
.window1 h3 { font-size: 12px; color: #333; font-weight: normal; text-shadow: 1px 1px #fff; }
.window1 h3 { -moz-border-radius: 3px 3px 0 0; -webkit-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0;  }
.window1 h3 { border: 1px solid #ddd; background: #eee url(../images/thead.png) repeat-x top left; }
.window1 h3 span { padding: 15px 15px; display: block; }
.window1 h3 span a img { vertical-align: sub; }
.window1 .inside { background: #fcfcfc; padding: 20px 15px; color: #666; overflow: hidden; border: 1px solid #ddd; border-top: 0; }
.window1 .inside { -moz-border-radius: 0 0 3px 3px; -webkit-border-radius: 0 0 3px 3px; border-radius: 0 0 3px 3px; }
.window1 .inside p { margin: 5px 0; }
.window1 .inside p:first-child { margin-top: 0; }
.window1 .inside label { display: block; padding: 0; width: 120px; margin-right: 22px; float: left; }


.window2  { margin-bottom: 20px; -moz-box-shadow: 1px 1px 2px #ccc; -webkit-box-shadow: 1px 1px 2px #ccc; box-shadow: 1px 1px 2px #ccc; }
.window2 h3 { font-size: 12px; text-transform: uppercase; color: #fff; font-weight: normal; text-shadow: 1px 1px #4b6592; }
.window2 h3 { -moz-border-radius: 3px 3px 0 0; -webkit-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0;  }
.window2 h3 { border: 1px solid #6082ad; background: #688ab5 url(../images/titlebg.png) repeat-x top left; }
.window2  h3 span { padding: 10px 15px; display: block; }
.window2 .inside { background: #fcfcfc; color: #666; overflow: hidden; border: 1px solid #ccc; border-top: 0; }
.window2 .inside { -moz-border-radius: 0 0 3px 3px; -webkit-border-radius: 0 0 3px 3px; border-radius: 0 0 3px 3px; }
.window2 .inside p { margin: 5px 0; }
.window2 .inside p:first-child { margin-top: 0; }
.window2 .inside label { display: block; padding: 0; width: 120px; margin-right: 22px; float: left; }

/***MAIN CONTENT: FULL PAGE***/
.fullpage { margin: 20px 15px; }
.pageTitle { font-size: 24px; margin-bottom: 20px; text-shadow: 1px 1px #fff; }

/***MAIN CONTENT: FORM STYLING***/
.sf { width: 250px; }
.mf { width: 350px; }
.lf { width: 450px; }
textarea.mf { height: 100px; }
input[type=radio], input[type=checkbox] { margin: 0; padding: 0; vertical-align: middle; }

.form_default fieldset { border: 1px solid #ccc; padding: 20px; background: #f7f7f7; }
.form_default legend { text-transform: uppercase; }
.form_default p { margin: 20px 0 !important; }
.form_default label { width: 150px; float: left; text-align: right; padding-top: 5px; margin:5px 10px; }

.form_default input[type=text] { font-size: 12px; padding: 8px 80px 8px 5px; border: 1px solid #ccc; background: #fcfcfc; outline: none; }
.form_default input[type=text] { -moz-box-shadow: inset 1px 1px 3px #ccc; -webkit-box-shadow: inset 1px 1px 3px #ccc; box-shadow: inset 1px 1px 3px #ccc; }
.form_default input[type=text] { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; margin:5px 10px 5px 0; }
.form_default input[type=text]:focus, .form_default textarea:focus { background: #fff; }

.form_default input[type=submit] { background: #4b6592 url(../images/buttonbg3.png) repeat-x top left; color: #fff; padding: 7px 20px; cursor: pointer; }
.form_default input[type=submit] { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; border: 1px solid #395380; font-size: 12px; }
.form_default input[type=submit] { text-transform: uppercase; text-shadow: 1px 1px #395380; margin:10px 0 0 152px; font-family:Arial;}
.form_default input[type=submit] { -moz-box-shadow: 1px 1px 2px #999; -webkit-box-shadow: 1px 1px 2px #999; box-shadow: 1px 1px 2px #999; }
.form_default input[type=submit]:hover { background: #005681 url(../images/buttonbg3.png) repeat-x 0 -36px; }
.form_default input[type=submit]:active { -moz-box-shadow: inset 2px 2px 2px #12274c; -webkit-box-shadow: inset 2px 2px 2px #12274c; box-shadow: inset 2px 2px 2px #12274c; }

.form_default input[type=password] { font-size: 12px; padding: 8px 80px 8px 5px; border: 1px solid #ccc; background: #fcfcfc; outline: none; }
.form_default input[type=password] { -moz-box-shadow: inset 1px 1px 3px #ccc; -webkit-box-shadow: inset 1px 1px 3px #ccc; box-shadow: inset 1px 1px 3px #ccc; }
.form_default input[type=password] { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; margin:5px 10px 5px 0;}
.form_default input[type=password]:focus, .form_default textarea:focus { background: #fff; }

.form_default textarea { font-size: 12px; padding: 8px 5px; border: 1px solid #ccc; background: #fcfcfc; outline: none; }
.form_default textarea { -moz-box-shadow: inset 1px 1px 3px #ccc; -webkit-box-shadow: inset 1px 1px 3px #ccc; box-shadow: inset 1px 1px 3px #ccc; }
.form_default textarea { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; margin-right: 10px; }
.form_default textarea { width: 75%; height: 150px; }

.form_default select { font-size: 12px; padding: 5px; border: 1px solid #ccc; background: #fcfcfc; outline: none; }
.form_default select { -moz-box-shadow: inset 1px 1px 3px #ccc; -webkit-box-shadow: inset 1px 1px 3px #ccc; box-shadow: inset 1px 1px 3px #ccc; }
.form_default select { width:21%;-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; margin-right: 10px; }

.form_default button { background: #4b6592 url(../images/buttonbg3.png) repeat-x top left; color: #fff; padding: 7px 20px; cursor: pointer; }
.form_default button { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; border: 1px solid #395380; font-size: 12px; }
.form_default button { text-transform: uppercase; text-shadow: 1px 1px #395380; margin-left: 152px; font-family:Arial;}
.form_default button { -moz-box-shadow: 1px 1px 2px #999; -webkit-box-shadow: 1px 1px 2px #999; box-shadow: 1px 1px 2px #999; }
.form_default button:hover { background: #005681 url(../images/buttonbg3.png) repeat-x 0 -36px; }
.form_default button:active { -moz-box-shadow: inset 2px 2px 2px #12274c; -webkit-box-shadow: inset 2px 2px 2px #12274c; box-shadow: inset 2px 2px 2px #12274c; }

.form_default button.red { background: red url(../images/button_red.png) repeat-x top left; color: #fff; padding: 7px 20px; cursor: pointer; }
.form_default button.red { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; border: 1px solid red; font-size: 12px; }
.form_default button.red { text-transform: uppercase; text-shadow: 1px 1px #395380; margin-left: 152px; font-family:Arial;}
.form_default button.red { -moz-box-shadow: 1px 1px 2px #999; -webkit-box-shadow: 1px 1px 2px #999; box-shadow: 1px 1px 2px #999; }
.form_default button.red:hover { background: #005681 url(../images/button_red.png) repeat-x 0 -40px; }
.form_default button.red:active { -moz-box-shadow: inset 2px 2px 2px #12274c; -webkit-box-shadow: inset 2px 2px 2px #12274c; box-shadow: inset 2px 2px 2px #12274c; }

.inside input[type=submit] { background: #4b6592 url(../images/buttonbg3.png) repeat-x top left; color: #fff; padding: 7px 20px; cursor: pointer; }
.inside  input[type=submit] { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; border: 1px solid #395380; font-size: 12px; }
.inside input[type=submit] { text-transform: uppercase; text-shadow: 1px 1px #395380; margin:10px 0 0 152px; font-family:Arial;}
.inside  input[type=submit] { -moz-box-shadow: 1px 1px 2px #999; -webkit-box-shadow: 1px 1px 2px #999; box-shadow: 1px 1px 2px #999; }
.inside  input[type=submit]:hover { background: #005681 url(../images/buttonbg3.png) repeat-x 0 -36px; }
.inside  input[type=submit]:active { -moz-box-shadow: inset 2px 2px 2px #12274c; -webkit-box-shadow: inset 2px 2px 2px #12274c; box-shadow: inset 2px 2px 2px #12274c; }

.deletelink{background:url(../images/icons/trash.png) no-repeat center center;text-indent:-19999px; margin:0 auto; display:block;height: 20px;width:20px; overflow: hidden;}
.deletelink_2{background:url(../images/icons/prof_trash.png) no-repeat center center;text-indent:-19999px; margin:15px auto; display:block;height: 45px;width:45px; overflow: hidden;}
.resetlink{background:url(../images/icons/prof_paswd.png) no-repeat center center;text-indent:-19999px; margin:25px auto; display:block;height: 45px;width:45px; overflow: hidden;}
.editlink{background:url(../images/icons/edit.png) no-repeat center center;text-indent:-19999px; margin:0 auto; padding:0 10px; display:block;height: 20px;width:20px; overflow: hidden; float:left;}
.editbiglink{background:url(../images/icons/edit_big.png) no-repeat center center;text-indent:-19999px; margin:0 auto; padding:10px 10px; display:block;height: 65px;width:40px; overflow: hidden; float:left;}
.profilelink{background:url(../images/icons/profile.png) no-repeat center center;text-indent:-19999px; margin:0 auto; padding:0 10px; display:block;height: 20px;width:20px; overflow: hidden; float:left;}

/***DEFAULT BUTTONS***/
button{border:none;cursor:pointer;}
/***COLORED BUTTONS***/
button.button_blue { background: #4b6592 url(../images/buttonbg3.png) repeat-x top left; color: #fff; padding: 7px 20px; cursor: pointer; }
button.button_blue  { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; border: 1px solid #395380; font-size: 12px; }
button.button_blue  { text-transform: uppercase; text-shadow: 1px 1px #395380; margin-left: 60px; font-family:Arial; }
button.button_blue  { -moz-box-shadow: 1px 1px 2px #999; -webkit-box-shadow: 1px 1px 2px #999; box-shadow: 1px 1px 2px #999; }
button.button_blue:hover { background: #005681 url(../images/buttonbg3.png) repeat-x 0 -36px; }
button.button_blue:active { -moz-box-shadow: inset 2px 2px 2px #12274c; -webkit-box-shadow: inset 2px 2px 2px #12274c; box-shadow: inset 2px 2px 2px #12274c; }

.button_red { border: 1px solid #b22407; background: #333 url(../images/button_red.png) repeat-x top left; text-shadow: 1px 1px #b22407; color: #fff; }
.button_red:active { -moz-box-shadow: inset 2px 2px 2px #b22407; -webkit-box-shadow: inset 2px 2px 2px #b22407; box-shadow: inset 2px 2px 2px #b22407; }

/***COLUMNS***/
.one_half{ width:48%; }
.one_third{ width:30.66%; }
.two_third{ width:65.33%; }
.one_fourth{ width:22%; }
.three_fourth{ width:74%; }
.one_fifth{ width:16.8%; }
.two_fifth{ width:37.6%; }
.three_fifth{ width:58.4%; }
.four_fifth{ width:67.2%; }
.one_sixth{ width:13.33%; }
.five_sixth{ width:82.67%; }
.one_half,.one_third,.two_third,.three_fourth,.one_fourth,.one_fifth,
.two_fifth,.three_fifth,.four_fifth,.one_sixth,.five_sixth{ position:relative; margin-right:4%; float:left; }
.lastt{ margin-right:0 !important; clear:right; }

/* footer */
#footer { background: #333; position: fixed; bottom: 0; left: 0; width: 100%; padding: 10px 0px; text-align: right; font-size: 11px; color: #ccc; }
