{% extends '::base.html.twig' %}
{% block body %}
<form action="{{ path('changePasswordProcess')}}" method="post" {{ form_enctype(form) }}>
	{{form_errors(form)}}
    {{ form_widget(form) }}
    <input type="submit" />
</form>
{% endblock %}