{% extends '::patientDashboard.html.twig' %}
{% block javascripts_head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

{% endblock %}

{% block content %}
    <div id="calendar"></div>
	<div id="hour_table">
	<table>
	<thead>
		<tr><td class="hour_head">Godziny</td><td class="cont_head">Tresc</td></tr>
	</thead>
    <tbody>
	</tbody>	
	</table>
	
	</div>
	<!--<div id="mytable"></div>-->
{% endblock %}

{% block javascripts_body %}
    {{ parent() }}
    <script type="text/javascript">
        var disabledDays = {{ unassignedDates|json_encode|raw }}


        function disableDays(date){
            var m = date.getMonth(), d = date.getDate(), y = date.getFullYear();
            
            for(var obj in disabledDays){
                if(date.getTime()==new Date(obj).getTime())
                {
                    console.log('Disable day: '+date)
                    return [false];
                }
            }
            return [true];
        }

        $('#calendar').datepicker({
            inline: true,
            firstDay: 0,
            showOtherMonths: false,
            monthNames: ['Styczen', 'Luty', 'Marzec', 'Kwiecien', 'Maj', 'Czerwiec', 'Lipiec', 'Sierpien', 'Wrzesien', 'Pazdziernik', 'Listopad', 'Grudzień'],
            dayNames: ["Poniedzialek", "Wtorek", "Sroda", "Czwartek", "Piatek", "Sobota", "Niedziela"],
            dayNamesMin: ['Pon', 'Wt', 'Sr', 'Cz', 'Pt', 'So', 'Nd'],
            dateFormat: 'yy-mm-dd',
            beforeShowDay: disableDays,
            onSelect: function(dateText, inst){
                console.log(disabledDays[dateText]);
                markHours(disabledDays[dateText]);
            },
            onChangeMonthYear: function(year, month, inst){
                $.ajax({
                    url: "./timetable/"+year+"/"+month
            }).done(function( response ) {
                disabledDays = response;
                $('#calendar').datepicker('refresh');
            });
            }
        });

        function markHours(arr){
            $('#hour_table table tbody tr').each(function(index) {
                if($.inArray($(this).attr('id'), arr)!=-1) {
                    $(this).children(".cont").html('WOLNE');
                }else{
                    $(this).children(".cont").html('ZAJETE');
                }
            });
        }
 
        $(document).ready(function() {
            for(var h=8; h<=17; h++) {
                for(var m=0; m<60; m+=15) {
                    var d=new Date();
                    d.setHours(h);
                    d.setMinutes(m);
                    
                    var hours = (d.getHours()<10?'0':'')+d.getHours();
                    var minutes = (d.getMinutes()<10?'0':'')+d.getMinutes();

                    $('#hour_table table tbody').append('<tr id="'+hours+':'+minutes+'"><td class="hour">'+hours+':'+minutes+'</td><td class="cont"></td></tr>');
                }
            }

        });
</script>

	
{% endblock %}