{% extends '::dashboard.html.twig' %}

{% block content %}
    <div id="timetable">
        {% include "McmsTimetableBundle::showMonth.html.twig" with { entries: entries } %}
    </div>
    <button id="load">laduj</button>
{% endblock %}

{% block javascripts_body %}
    {{ parent() }}
    <script type="text/javascript">
        $("#load").click(function() {
            $.ajax({
                url: "./timetable/2012/06"
            }).done(function( html ) {
                $("#timetable").html(html);
            });
        });
    </script>
{% endblock %}