{# src/Mcms/TimetableBundle/Resources/views/Patient/newEntry.html.twig #}

<form class="form_default" action="{{ path('patient.timetableCreate', { employeeId: employeeId, month: month, year: year, day: day, hours: hours, minutes: minutes })|replace({" ": ""}) }}" method="post" {{ form_enctype(form) }}>
{{ form_widget(form) }}

<button type="submit">send</button>